.titraille{font-family:Oswald,sans-serif;font-weight:200;line-height:1.3em;}
body{background:url(/image/fond.png);background-color:#000000;font-family:Mada,sans-serif;font-size:16px;color:#000000;margin:0;padding-top:3em;line-height:1.3em;}
a{color:#000000;}
h1,h2,h3{font-family:Oswald,sans-serif;font-weight:200;line-height:1.3em;}
h1>a,h2>a,h3>a{text-decoration:none;}
nav a{text-decoration:none;}
header{position:relative;max-width:1100px;margin:0px auto;background:url(/image/dominique-pagani-nb.png) no-repeat;background-color:rgba(255,255,25,.3);height:250px;border-radius:20px;display:flex;flex-flow:column;justify-content:flex-end;}
header div.titres{margin-left:250px;}
header div.titres h1{text-align:center;color:#ffffff;font-weight:200;font-size:2.5em;}
header div.titres h2{text-align:center;color:#ffffff;}
nav>div>a,nav>div>span{display:inline-block;padding:4px;}
nav>div>a:hover{background-color:#cccccc;text-decoration:none;}
nav.principale{display:flex;justify-content:space-between;background-color:#ffffff;box-shadow:2px 2px 2px #777777;}
nav.principale span{background-color:rgba(255,0,0,.8);color:#ffffff;}
nav.principale .smenu>ul{display:none;list-style-type:none;position:absolute;top:250px;left:200px;background-color:#cccccc;padding:10px;margin:0;box-shadow:2px 2px 2px #777777;}
nav.principale .smenu:hover ul{display:block;}
body>section{max-width:1100px;margin:0 auto;display:flex;}
footer{background-color:rgba(255,255,25,.3);max-width:1100px;margin:0px auto;border-bottom-left-radius:20px;border-bottom-right-radius:20px;margin-bottom:3em;}
footer nav{display:flex;justify-content:space-between;margin-left:250px;margin-right:1em;}
footer nav ul,footer nav #index{display:none;}
aside.contexte{width:250px;background-color:rgba(255,255,25,.3);}
aside.contexte h2{text-align:center;padding:1em;}
aside.contexte a{color:#ffffff;}
aside.sans{display:none !important;}
section.grid{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;background-color:rgba(255,255,255,.9);flex-grow:1;}
article{padding:1em;}
article h1{font-size:3em;padding-right:40%;margin:0;}
article p{text-align:justify;}
.lettrine:first-letter{font-size:3em;float:left;font-style:italic;}
.video{width:100%;height:360px;}
.video iframe{width:100%;height:100%;}
.cartouche-bleu>.video,.cartouche-bleu>.video{width:360px;height:190px;}
.info{text-align:right;color:#666666;}
.note{text-align:right;font-size:0.9em;}
p.citation{text-align:center;font-weight:bold;font-style:italic;font-size:2em;font-weight:200;line-height:1.5em;}
.marges{padding:0 4em;}
article.cartouche{background-color:#ffffff;border-radius:5px;margin:15px;box-shadow:2px 2px 2px #777777;}
article.cartouche-rouge{margin-top:3em;align-self:center;background-color:rgba(255,0,0,.5);margin-right:1em;border-radius:20px;text-align:center;color:#ffffff;}
article.cartouche-bleu{margin-top:3em;align-self:center;background-color:rgba(0,10,55,.8);margin-right:1em;border-radius:20px;color:#ffffff;}
article.cartouche-bleu a{color:#ffffff;}
article.en-bas{align-self:end;}
article.au-milieu{align-self:center;}
article.au-centre{justify-self:center;}
.en-attente{text-align:center;margin-top:4em;}
.nogrid{display:block !important;}
.invisible{display:none;}