@clr0: #000;
@clr1: #fff;
@clr2: rgba(255,255,25,.3);
@clr3:rgba(255,0,0,.8);
@clr4:rgba(25,255,255,.3);
@clr5:rgba(25,255,255,.2);
@clr6:rgba(25,255,255,.5);
@clr7:rgba(255,255,25,.3);
@clr8:rgba(255,255,255,.9);
@clr9:rgba(255,0,0,.5);
@clr10: rgba(0,10,55,.8);
@clr11: #fff;
@clr12: #ccc;
@font0: Mada, sans-serif;
@font2: Oswald,sans-serif;
@taille0: 16px;
@taille-1: 0.9em;
@taille2: 2em;
@taille3: 2.5em;
@taille4: 3em;
@graisse1:200;
@hauteur_entete: 250px;
@position_sous_nav: @hauteur_entete - 1;
@hauteur0: 1.3em;
@hauteur1: 1.5em;
@largeur0: 1100px;
@largeur1: 250px;
@arondi: 20px;
@arondi2: 5px;

.titraille{
  font-family:@font2;
  font-weight: @graisse1;
  line-height: @hauteur0;
}
body {
  background: url(/image/fond.png);
  background-color: @clr0;
  font-family: @font0;
  font-size:@taille0;
  color:@clr0;
  margin: 0;
  padding-top:3em;
  line-height: @hauteur0;
}

a{
  color:@clr0;
}


h1, h2, h3{
  .titraille();
}

h1>a, h2>a, h3>a{
  text-decoration: none;
}

nav a{
  text-decoration: none;
}

header{
  position:relative;
  max-width: @largeur0;
  margin: 0px auto;
  background: url(/image/dominique-pagani-nb.png) no-repeat;
  background-color: @clr2;
  height: @hauteur_entete;
  border-radius: @arondi;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  div.titres{
    margin-left:@hauteur_entete;
    h1{
      text-align: center;
      color: @clr1;
      font-weight: @graisse1;
      font-size: @taille3;
    }

    h2{
      text-align: center;
      color: @clr1;
    }
  }
}

nav>div>a, nav>div>span{
  display: inline-block;
  padding:4px;
}

nav>div>a:hover{
  background-color: @clr12;
  text-decoration: none;
}

nav.principale{
  display: flex;
  justify-content: space-around;
  background-color:@clr11;
  box-shadow: 2px 2px 2px #777;
  span{
    background-color: @clr3;
    color:@clr1;
  }
  .smenu>ul{
    display: none;
    list-style-type:none;
    position:absolute; 
    top:@hauteur_entete;
    left: 200px;
    background-color: @clr12;
    padding:10px;
    margin:0;
    box-shadow: 2px 2px 2px #777;
  }
  .smenu:hover ul{display:block}

}
body>section{
  max-width: @largeur0;
  margin: 0 auto;
  display:flex;
}

footer{
  background-color: @clr7;
  max-width: @largeur0;
  margin: 0px auto;
  border-bottom-left-radius: @arondi;
  border-bottom-right-radius: @arondi;
  margin-bottom:3em;
  nav{
    display:flex;
    justify-content:space-between;
    margin-left:@largeur1;
    margin-right:1em;
    ul, #index{
      display:none;
    }
  }
}

aside.contexte{
  width: 250px;
  background-color:@clr7;
  h2{
    text-align: center;
    padding: 1em;
  }
  a{
    color: @clr1;
  }
}
aside.sans{
  display:none !important;
}
section.grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: @clr8;
  flex-grow: 1;
}
article{
  padding: 1em;
  h1{
    font-size:@taille4;
    padding-right:40%;
    margin: 0;
  }
  p{
    text-align: justify;
  }
}

.lettrine:first-letter{
  font-size:@taille4;
  float:left;
  font-style:italic;
}

.video{
  width:100%;
  height:360px;
  iframe{
    width:100%;
    height:100%;
  }
}

.cartouche-bleu>.video, .cartouche-bleu>.video{
  width:360px;
  height:190px;
}

.info{
  text-align:right;
  color:#666;
}
.note{
  text-align:right;
  font-size:@taille-1;
}
p.citation{
  text-align:center;
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  font-weight: @graisse1;
  line-height: @hauteur1;
}
.marges{
  padding: 0 4em;
}
article.cartouche{
	background-color: @clr11;
	border-radius: @arondi2;
  margin:15px;
  box-shadow: 2px 2px 2px #777;
}
article.cartouche-rouge{
  margin-top:3em;
 align-self: center;
	background-color: @clr9;
	margin-right: 1em;
	border-radius: @arondi;
	text-align: center;
	color:@clr1;
}
article.cartouche-bleu{
  margin-top:3em;
  align-self: center;
	background-color: @clr10; 
	margin-right: 1em;
	border-radius: @arondi;
  color: @clr1;
  a{
    color: @clr1;
  }
}
article.en-bas{
  align-self: end;
}
article.au-milieu{
  align-self: center;
}
article.au-centre{
  justify-self: center;
}
.en-attente{
  text-align:center;
  margin-top:4em;
}
.nogrid{
  display:block !important;
}
.invisible{
  display:none;
}
